<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<sitetree>
    <elementlist>
        <top>
          <item name="Menu name" attribute="menuname" type="text"/>
          <item name="Page name" attribute="pagename" type="text"/>
          <item name="Last edited" attribute="lastedited" type="text"/>
          <item name="Status" attribute="status" type="statuslist"/>
          
          
        </top>
      </elementlist>
    
		<treeFilename>~/Custom/App_Data/database/tree.xml</treeFilename>
		<contentRoot>~/Custom/App_Data/database/site/</contentRoot>
		<contentFilenameFormat>{0}.xml</contentFilenameFormat>
		<pagestatus>
			<open>Show in menu</open>
			<hide>Hide from menu</hide>
		</pagestatus>
	</sitetree>
	<admin>
		<menu>
      <left>
        <item path="admin/page" weight="0">Pages</item>
      </left>
      
		</menu>
	</admin>
</settings>
