body, td, p, div, a, th, textarea, input
{
    color: black;
    text-align: left;
    font: Menu;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

a.button
{
    border: 1px solid #aeb8bf;
    background-color: white;
    padding: 3px 4px 3px 4px;
    margin: 5px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    vertical-align: baseline;
}

a.button:hover
{
    text-decoration: none;
    background: #96a1a9;
}

div.error
{
    color: Red;
}

body
{
    background: white;
    margin: 0px;
    padding: 0px;
}

td, th
{
    vertical-align: top;
}

div.top
{
    background: #628498;
    background-image: url(../Picture/topbg.gif);
    background-attachment: fixed;
    padding: 0px;
    color: White;
    border-bottom: 1px solid white;
}

div.topmenu
{
    white-space: nowrap;
    background: #FFFFFF;
    background-image: url(../Picture/subbg.gif);
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
    border-bottom: 1px solid white;
    height: 24px;
}

div.content
{
    width: 1000px;
    padding: 10px;
}

div.content-left
{
    float: left;
    width: 220px;
}

div.content-right
{
    margin-left: 240px;
    width: 650px;
}

div.choose
{
    padding: 10px;
    background: #B1000D;
    font-size: 18px;
    color: White;
    font-weight: bold;
    border-bottom: 1px solid white;
}

div.adminmenu
{
    white-space: nowrap;
    border: 1px solid #7697ab;
    background: white;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
    padding: 5px;
    padding-left: 2px;
    padding-bottom: 6px;
    margin-bottom: 10px;
}
div.adminmenu ul
{
    padding: 0px;
    margin: 6px;
}
div.adminmenu li
{
    padding: 0px;
    margin: 4px;
}

div.choosecontent
{
    background: white;
    padding: 10px;
}

ul.topmenu
{
    padding: 0px;
    margin: 0px;
    list-style: none;
}


ul.topmenu li
{
    display: block;
    float: left;
    margin-right: 1px;
    padding-top: 3px;
}

ul.topmenu li a
{
    color: #486c82;
    padding: 3px 5px 3px 5px;
    font-weight: bold;
    text-decoration: none;
}
.middot
{
    color: #95adbc;
    padding: 3px 5px 3px 5px;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
}
ul.topmenu a:hover
{
    text-decoration: none;
    color: #cfb000;
}
span.clear, div.clear
{
    clear: left;
}
/* Dummy element indsættes lige efter menuen */



div.tree
{
    padding: 10px;
    background: white;
    border: 1px solid #bec7cd;
    min-height: 200px;
}

div.element
{
    border: 1px solid #7697ab;
    background: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
}

div.elementtop
{
    padding: 4px;
    padding-left: 8px;
    position: relative;
    top: 2px;
    border: 1px solid #7697ab;
    background: #E8EEF1;
    height: 16px;
    border-style: solid;
    color: #486C82;
    font-weight: bold;
}

div.elementtop-buttons
{
    float: right;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 1px;
    width: 260px;
    text-align: right;
}

.tab-page div.elementtop
{
    height: 21px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 0px;
    background-color: #FFFFFF;
}

div.elementtop-title
{
    text-transform: capitalize;
    font-weight: bold;
    color: #8DA6B5;
    padding-top: 4px;
    padding-bottom: 4px;
}

div.item-type
{
    color: #486C82;
    padding-bottom: 8px;
}

div.top img
{
    border: 0px;
}

input, select
{
    width: 200px;
}

input, textarea, select
{
    border: 1px solid #bec7cd;
    background-color: white;
}

select
{
    font: menu;
}

input.upload
{
    width: 375px;
}
