/*************************************************************************/
/*                                                                    Base
/*************************************************************************/
#colorSet { color: #eee; }    /* Body */
#colorSet { color: #686868; } /* Font */
#colorSet { color: #999; }    /* Border */
#colorSet { color: #7697ab; } /* Menu */
#colorSet { color: #617c8c; } /* Selected */

* {
    border: 0;
    color: #686868;
    font-style: normal;
    font-weight: normal;
    font-family: verdana, arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

html {
    font-size: 100.1%;
}

body {
    background-color: #eee;
    font-size: 62.5%;
}

h1 {
    border-bottom: solid 1px #686868;
    color: #7697ab;
    display: block;
    font-size: 1.8em;
    margin: 0 0 3px 0;
}

h2 {

    font-size: 1.9em;
}

h3 {
    font-size: 1.6em;
}

p {
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 0 1px;
}

span {
    font-size: 1.3em;
}

a {
    color: #7697ab;
}

a:hover {
    text-decoration: underline;
}


/*************************************************************************/
/*                                                                    Page
/*************************************************************************/
#page {
    
}

#page #center {
    background-color: #999;
    margin: 20px auto 0 auto;
    padding: 1px;
    width: 800px;
}


/*************************************************************************/
/*                                                                  Header
/*************************************************************************/
#page #center #header {
    height: 29px;
    background-color: white;
}

#page #center #header a {
    
}

#page #center #header a span {
    color: #7697ab;
    font-size: 1em;
    margin: 2px 4px;
}

#page #center #header a:hover span {
    text-decoration: underline;
}


/*************************************************************************/
/*                                                              Navigation
/*************************************************************************/
#page #center #menu {
    background-color: #7697ab;
    margin: 0 -1px 0 -1px;
}

#page #center #menu ul {
    list-style-type: none;
    position: relative;
    padding: 0 0 0 15px;
}

#page #center #menu ul li {
    display: inline;
    margin: 0 14px 0 0;
}

#page #center #menu ul li a {
    
}

#page #center #menu ul li a span {
    color: white;
    font-weight: bold;
    line-height: 30px;
}

#page #center #menu ul li a.select span {
    border-bottom: 1px solid #eee;
    color: #eee;
}

#page #center #menu ul li a:hover span,
#page #center #menu ul li a.select:hover span {
    color: white;
    border-bottom: 1px solid white;
}

#page #center #menu ul li a span.hide {
    display: none;
}


/*************************************************************************/
/*                                                                    Main
/*************************************************************************/
#page #center #content {
    background-color: white;
    padding: 10px 14px;
}


/*************************************************************************/
/*                                                                  Footer
/*************************************************************************/
#page #center #footer {
    background-color: white;
    height: 30px;
}

#page #center #footer p {
    font-size: 1em;
    text-align: center;
    line-height: 30px;
}

#page #center #footer p a {
    
}

#page #center #footer p a span {
    font-size: 1em;
}

#page #center #footer p a:hover span {
    color: #7697ab;
    text-decoration: underline;
}


/*************************************************************************/
/*                                                                     CMS
/*************************************************************************/
div.editlink {
    float: right;
    background-color: #eee;
    border: 1px solid #999;
}

div.editlink a {
    display: block;
    padding: 1px 4px;
}

div.editlink a span {
    font-size: 1.0em;
}

div.editlink a:hover span {
    color: #7697ab;
    text-decoration: underline;
}


/*************************************************************************/
/*                                                                    From
/*************************************************************************/
form {
    display: inline-block;
}

input.linkbutton {
    border: none;
    color: #7697AB;
    display: block;
	padding: 0;
    margin: 0px 4px;
	font-family: verdana, arial, sans-serif;
	font-size: 1em;
    text-decoration: none;
	background-color: transparent;
}
    
input.linkbutton:hover {
    cursor: pointer;
    text-decoration: underline;
}


/*************************************************************************/
/*                                                          Helper-Classes
/*************************************************************************/
.left {
    float: left;
}

.right {
    float: right;
}