<?xml version="1.0" encoding="utf-8" ?>
<settings>

  <loadxml>
    <changelog>~/System/Components/Changelog/changelog.xml</changelog>
  </loadxml>
  <admin>
    <menu>
      <right>
        <item path="admin/changelog" weight="22">Changelog</item>
      </right>

    </menu>
  </admin>
</settings>
